<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autenticação: Moda Glamour</title>
    <link rel="stylesheet" href="/css/auth.style.css" />
  </head>
  <body>
    <main class="sec-main">
      <section class="sec-logo">
        <img class="logo" src="/letter-mg-darkmode.svg" style="width: 8vw" />
      </section>
      <section class="sec-login">
        <form action="/auth" method="post" class="sec-form">
          <input
            name="inpmail"
            placeholder="E-mail"
            id="inp"
            class="email-ipt"
            type="email"
          />
          <input
            name="inppass"
            placeholder="Password"
            id="inp"
            class="pass-ipt"
            type="password"
          />
          <input class="login" type="submit" value="Entrar" />
        </form>
      </section>
    </main>
  </body>
</html>
