<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autenticação: Moda Glamour</title>
    <link rel="stylesheet" href="/styles/auth.style.css" />
  </head>
  <body>
    <main class="sec-main">
      <section class="sec-logo">
        <img src="/letter-mg-darkmode.svg" style="width: 5vw" />
      </section>
      <section class="sec-login">
        <form class="sec-form">
          <input placeholder="E-mail" class="email-ipt" type="email" />
          <input class="login" type="submit" value="Entrar" />
        </form>
      </section>
    </main>
  </body>
</html>
