<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moda Glamour</title>
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <main class="sec-main">
      <section class="sec-logo">
        <img class="logo" src="/svg/letter-mg-darkmode.svg" />
      </section>
      <section class="sec-login">
        <form method="post" class="sec-form">
          <h4 class="sec-login-title">Acesse a Plataforma</h4>
          <input
            name="inpmail"
            autocomplete="off"
            placeholder="E-mail"
            id="inp"
            class="email-ipt"
            type="email"
          />
          <input
            name="inppass"
            placeholder="Password"
            id="inp"
            class="pass-ipt"
            type="password"
          />
          <input
            class="login"
            type="submit"
            value="Entrar"
            formaction="auth/login"
          />
          <input
            class="register"
            type="submit"
            value="Registrar"
            formaction="auth/register"
          />
        </form>
      </section>
    </main>
    <script src="/js/auth.js"></script>
  </body>
</html>
