<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moda Glamour</title>
    <link rel="stylesheet" href="/css/shop.css" />
  </head>
  <body>
    <nav class="side-bar">
      <img class="side-bar-logo" src="/svg/letter-mg-darkmode.svg" ; />
      <ul>
        <li class="side-bar-item"><img src="/svg/store.svg" /></li>
        <li class="side-bar-item"><img src="/svg/cart.svg" /></li>
        <li class="side-bar-item"><img src="/svg/wallet.svg" /></li>
        <li class="side-bar-item"><img src="/svg/config.svg" /></li>
        <li class="side-bar-item-user"><img src="/svg/user.svg" /></li>
      </ul>
    </nav>
    <main>Produtos seram visualizados aqui!</main>
  </body>
</html>
