@import url("./default.css");

body {
  background-color: var(--rangoonGreen);
}
.sec-login-title {
  margin: 20px;
  position: relative;
}
.sec-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.sec-logo {
  width: 40%;
  height: 100vh;
  background-color: var(--woodsSmoke);
  border-right: 1px solid var(--borderUses);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
  background-color: var(--rangoonGreen);
}
.sec-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#inp {
  margin: 15px;
  padding-left: 20px;
  width: 30vw;
  height: 6vh;
  background-color: transparent;
  border: 1px solid var(--borderUses);
  border-radius: 5px;
  font-size: 14px;
}
.login {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.register {
  position: fixed;
  bottom: 0;
  right: 80px;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.login:hover,
#inp:hover,
.register:hover {
  opacity: 0.5;
}
#inp:focus {
  width: 40vw;
}
@media (max-width: 1200px) {
  .sec-main {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .sec-logo {
    height: 300px;
    width: 100%;
    border-bottom: 1px solid var(--borderUses);
  }
  .sec-form {
    width: 100%;
    height: 100%;
  }
  .logo {
    width: 30vw;
  }
  #inp {
    width: 75%;
    height: 6vh;
  }
  #inp:focus {
    width: 90%;
  }
  .sec-login {
    width: 100%;
    height: 70vh;
  }
}
