* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #888;
  overflow: hidden;
  transition: 0.5s all ease;
}
:root {
  --backBlack: #050505;
  --secondDark: #080808;
}
body {
  background-color: #eee;
}
.sec-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.sec-logo {
  width: 75%;
  height: 100vh;
  background-color: var(--backBlack);
  border-right: 1px solid #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: var(--secondDark);
}
.sec-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-ipt {
  padding-left: 20px;
  width: 20vw;
  height: 6vh;
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  font-size: 14px;
}
.login {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.login:hover,
.email-ipt:hover {
  opacity: 0.5;
}
.email-ipt:focus {
  width: 30vw;
}
